
<!-- This is a Semantic HTML Change -->
<main>
  <pb-breadcrumbs></pb-breadcrumbs>
  <div class="container center">


  <div class="page-area">
  <!--<div class="text-box">-->
    <div class="text-box">
      <pb-articles>
      <h1 aria-describedby="tracking-details">Stay on track</h1>
      <div>
      Do you know where you are spending your money? If you really stop to track it down,
      you would get surprised! Proper budget management depends on real data... and this
      app will help you with that!
      </div>
    </pb-articles>
      </div>
      <div class="text-box">
      <pb-articles>
      <h1 aria-describedby="alert-details">Alerts</h1>
      <div id = "alert-details">
      What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
      </div>
    </pb-articles>
      </div>
      <div class="text-box">
      <pb-articles>
        <h1 aria-describedby="result-detail">Results</h1>
        <div div id = "result-detail">
        People who stick to a financial plan, budgeting every expense, get out of debt faster!
        Also, they to live happier lives... since they expend without guilt or fear...
        because they know it is all good and accounted for.
      </div>
    </pb-articles>
        </div>
        <div class="text-box">
        <h1 aria-describedby="cost-detail">Free</h1>
        <div>
        This app is free!!! And you are the only one holding your data!
        </div>
        </div>
  <div class="text-box">
  <pb-articles>
  <h1 aria-describedby="tracking-details">Stay on track</h1>
  <div>
  Do you know where you are spending your money? If you really stop to track it down,
  you would get surprised! Proper budget management depends on real data... and this
  app will help you with that!
  </div>
</pb-articles>
  </div>
  <div class="text-box">
  <pb-articles>
  <h1 aria-describedby="alert-details">Alerts</h1>
  <div id = "alert-details">
  What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
  </div>
</pb-articles>
  </div>
  <div class="text-box">
  <pb-articles>
    <h1 aria-describedby="result-detail">Results</h1>
    <div div id = "result-detail">
    People who stick to a financial plan, budgeting every expense, get out of debt faster!
    Also, they to live happier lives... since they expend without guilt or fear...
    because they know it is all good and accounted for.
  </div>
</pb-articles>
    </div>
    <div class="text-box">
    <h1 aria-describedby="cost-detail">Free</h1>
    <div>
    This app is free!!! And you are the only one holding your data!
    </div>
    </div>
  <div class="text-box">
  <h1 aria-describedby="cost-detail">Chart</h1>
  <canvas id="myChart" width="400" height="400"></canvas>
  </div>
  <div class="text-box">
  <h1 aria-describedby="cost-detail">Chart</h1>
  <div id="d3-chart"></div>
  </div>
  </div>
  </div>
  </main>
